@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #f4f0eb;
}
.box-modal-product{
    position: absolute;
    top: 200%;
    left: 0;
    z-index: 10;
}
.active,.heder__navlink:hover{
    color: black;
    text-decoration: underline !important;
}
.backtotop{
    position: fixed;
    bottom: 90px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(244, 240, 235,0.7);
    border: 1px solid #2e2a39bf;
    
}
.custom-p{
    -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
}
.header__carts{
    position: relative;
}
.header__carts span{
    position: absolute;
    top: 25%;
    left: 80%;
    font-size: 18px;
}
.carts__quantity button:first-of-type{
    border-radius: 6px 0 0 6px;
    border-right:0 ;
}
.carts__quantity input{
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    max-width: 40px;
}
.carts__quantity button:nth-child(3){
    border-radius: 0 6px 6px 0;
    border-left:0 ;
}
.carts__quantity button:hover,.carts__quantity input{
    border-color: #d9d9d9 !important;
    color: #000 !important;
}
.DetailComment__formre{
    position: relative;
}
.DetailComment__buttonasb{
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.logo-avatar{
     width: 60px;
     height: 60px;
     object-fit: cover;
     border-radius: 50%;
}

.RelatedProducts-box{
    background-color: #fff;
    padding: 10px ;
    box-shadow: 1px -4px 12px 2px #CFD8DC;
    border-radius: 8px;
}
.RelatedProducts-box img{
    box-shadow: 1px -4px 12px 2px #CFD8DC;
    transition: 0.5s ease-in-out;
}
.RelatedProducts-box img:hover{
   transform: scale(110%);
}
.admin-user-select-roles{
    border: 1px solid #d9d9d9;
    width: 100%;
    padding: 7px 11px;
    margin-top: 4px;
    border-radius: 8px;
}